<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>50056570864-nkuaj1o5443mbgr3d0kgpp3breba1rpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50056570864-nkuaj1o5443mbgr3d0kgpp3breba1rpr</string>
	<key>API_KEY</key>
	<string>AIzaSyCBENMGifB5gqURgt9otq1AQbVYVTNRsAA</string>
	<key>GCM_SENDER_ID</key>
	<string>50056570864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.pooscaboose.game</string>
	<key>PROJECT_ID</key>
	<string>poos-caboose</string>
	<key>STORAGE_BUCKET</key>
	<string>poos-caboose.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:50056570864:ios:653c958f875a267f</string>
	<key>DATABASE_URL</key>
	<string>https://poos-caboose.firebaseio.com</string>
</dict>
</plist>